<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1 style="cursor: pointer;">Login</h1>
                    <hr>
                </div>
                <form [formGroup]="loginForm">
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="text" formControlName="email" class="form-control" placeholder="Enter your email:" />
                        <span style="color: red; font-size: 14px;" *ngIf="email && email.invalid && email.touched">This
                            input filed is not valid</span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="text" formControlName="password" class="form-control" placeholder="Enter your password:" />
                        <span style="color: red; font-size: 14px;" *ngIf="password && password.invalid && password.touched">This input filed is
                            not valid</span>
                    </div>
                    <div>
                        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">SignUp</button>
                        <span class="login"><a class="mt-2" routerLink="/signup" style="color: #999">New User ?
                                Click to Signup</a></span>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>