<div class="card">
    <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto; margin-top: -20px;">
        <i class="checkmark">✓</i>
    </div>
    <h1>Success</h1>
    <div class="row" style="text-align: center;">
        <div class="col-sm-6">
            Output: 5000
        </div>
        <div class="col-sm-6" style="margin-left: -30px;">
            Expected Result: 1000
        </div>
    </div>
    <p class="mt-2">we'll be in touch shortly!</p>
    <div class="center">
        <i class="material-icons">&#xe317;</i>
        <span class="solve" routerLink="/home">SOLVE ANOTHER CHALLENGE</span>
    </div>
</div>