<div class="card" *ngIf="result !=null && result !=undefined">
    <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto; margin-top: -20px;">
        <i class="checkmark">✓</i>
    </div>
    <h1>Compilation successful</h1>
    <div class="row" style="text-align: center;">
        <div class="col-sm-6">
            User output: {{result?.userOutput}}
        </div>
        <div class="col-sm-6" style="margin-left: -30px;">
            Expected output: {{result?.expectedOutput}}
        </div>
    </div>
    <p class="mt-2">Remark: {{result?.remark}}!</p>
    <div class="center">
      <a (click)="closeDisplay()">
        <i class="material-icons">&#xe317;</i>
        <span class="solve" >SOLVE ANOTHER CHALLENGE</span>
      </a>
    </div>
</div>