<nav class="navbar navbar-light">
  <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">COGNIZANT CHALLENGE</span>
      <div class="d-flex">
          <div class="first">
              <button type="button" class="btn btn-secondary btn_1" routerLink="challenge">SOLVE</button>
          </div>
          <div>
              <button type="button" class="btn btn-outline-secondary" routerLink="top-three-candidate">TOP 3</button>
          </div>
      </div>
  </div>
</nav>

<router-outlet></router-outlet>