.first {
    margin-right: 10px;
}
.btn_1 {
    width: 100px;
}

.body {
    margin-top: 50px;
    margin-left: 30px;
}

.body_1 {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.section {
    overflow-x: hidden;
}

.navbar {
    background-color: #2489e1;
}

.navbar-brand {
    color: #fff;
}

.btn {
    color: #fff;
    border-color: white;
}


