.card {
  width: 500px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

.btn {
  display: inline;
  vertical-align: middle;
}

.signup {
  display: inline;
  vertical-align: middle;
  font-size: 13px;
  margin-left: 15px;
}
.error {
  color: red;
  font-size: 14px;
}
