<div class="container" style="padding-top:250px">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Sign Up</h1>
                    <hr>
                </div>
                <div class="mt-2 row text-center" *ngIf="errorMessage !=null">
                    <label for="name" class="col-sm-3 col-form-label"></label>
                    <div class="alert alert-danger alert-dismissible col-sm-9" >
                        <a  class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Fail!</strong> {{errorMessage}}
                      </div>
                </div>
                <form [formGroup]=" signupForm" (ngSubmit)="signup()">
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" formControlName="name" class="form-control" placeholder="Name" />
                        <span class="error" *ngIf="name && name.invalid && name.touched">This
                            input filed is not valid</span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" formControlName="userName" class="form-control" placeholder="Enter your username:" />
                        <span class="error" *ngIf="userName && userName.invalid && userName.touched">This input filed is
                            not valid</span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" formControlName="password" class="form-control" placeholder="Enter your password:" />
                        <span class="error" *ngIf="password && password.invalid && password.touched">This input filed
                            is not valid</span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Comfirm Password</label>
                        <input type="password" formControlName="comfirmPassword" class="form-control" placeholder="Comfirm your password:" />
                        <span class="error" *ngIf="comfirmPassword && comfirmPassword.invalid && comfirmPassword.touched">This input
                            filed is not valid</span>
                            <div *ngIf="f.confirmPassword.errors?.mustMatch">Password and confirm not match</div>
                    </div>
                    <div>
                        <button type="submit" [disabled]="signupForm.invalid && submitLoading" class="btn btn-secondary">
                            <span *ngIf="signupForm.invalid && submitLoading"class="spinner-border"></span>
                        <span>Login</span>    
                        </button>
                        <span class="signup"><a class="mt-2" routerLink="/login" style="color: #999">Already
                                Registered ?</a></span>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>